html{
    box-sizing: border-box;
}

*,*::after ::before{
    box-sizing: inherit;
}

body{
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
}

.contenedor{
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
}

.imagen-formulario{
    background-image: url('img/Vigia.jpg');
    background-position: center center;
    background-size: conver;
    height: 200px;
    flex: 0 0 calc(50%);
}

@media(min-width:768px){ 
.imagen-formulario{ 
    height: auto;
    background-position: right;
    }
}

@media(min-width:768px){ 
.contenedor-formulario{
    display: flex;
    }
}
    
.formulario{
    padding: 50px;
    background-color: #24303c;
}

.texto-formulario h2, .input label, p, .termino-condiciones a{
    color: white;

}
.texto-formulario h2{
    font-size: 50px;
    text-align: center;
}

.texto-formulario p{
    font-size: 22px;
    text-align: center;
}

.input label{
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
}

.termino-condiciones{
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

.input input[type="checkbox"]{
    padding: 1.3cm;
    position: relative;
}

.input input{
    width: 100%;
    padding: 10px 16px;
    border-radius: 5px;
    outline: none;
}

.input input[type="submit"]{
    background-color: rgb(132, 132, 147);
    color: white;
    font-size: 22px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    transition: background-color .3s ease-in-out;
}
.input input[type="submit"]:hover{
    cursor: pointer;
    background-color: rgb(57, 57, 77);
}
